body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
header {
  background-color: gainsboro;
}

img {
  max-height: 20rem;
}

/***************** NAV *****************/

nav {
  width: 100%;
  padding-bottom: 0.5rem;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
  color: darkgrey;
}

nav li {
  display: inline;
  padding: 0 4rem;
}

/**************** HERO *****************/

header img {
  max-height: 7rem;
}

h1 .logo-w {
  font-size: 3rem;
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  border: 1px solid red;
}

.item-container {
  margin: auto;
  text-align: center;
}

.item {
  width: 33%;
  margin: auto;
  padding: 1rem 0;
}

h2 {
  padding: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}