*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

a {
  color: black;
  text-decoration: none;
}

/********** HEADER ***********/
header {
  background-color: gainsboro;
}

/***************** NAV *****************/

nav {
  width: 75%;
  margin: auto;
  padding-bottom: 0.5rem;
  text-align: center;
}

nav a:hover {
  color: darkgrey;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0.5rem;
}

/**************** HERO *****************/
header img {
  
}

h1 .logo-w {
  font-size: 4rem;
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
  font-size: 3rem;
  float: right;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

.item-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.item {
  text-align: center;
  padding: 1rem;
}

.item p {
  padding: 1rem;
}

.item-container img {
  max-width: 100%;
  max-height: 20rem;
}

h2 {
  padding: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  color: burlywood;
  padding: 0 0 1rem 0;
}

button {
  background-color: skyblue;
  color: white;
  padding: .25rem 2rem;
  font-size: 1rem;
}

/*********** FOOTER SECTION ***********/

footer {
  height: 10rem;
  background-color: whitesmoke;
  margin-top: 2rem;
}

/*********** MEDIA QUERIES ***********/
@media (min-width: 901px) {
  .item {
    width: 33.3%;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .item-container {
    width: 95%;
  }
  .item {
    width: 50%;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .item {
    width: 100%;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
}