*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
header {
  background-color: gainsboro;
}

img {
  max-width: 100%;
  max-height: 20rem;
}

/***************** NAV *****************/

nav {
  width: 100%;
  padding-bottom: 0.5rem;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
  color: darkgrey;
}

nav li {
  display: inline;
  padding: 0 4rem;
}

/**************** HERO *****************/

header img {
  max-height: 7rem;
}

h1 .logo-w {
  font-size: 3rem;
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

.item-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.item {
  border: 1px solid red;
  width: 33%;
  height: 500px;
  margin: auto;
  text-align: center;
  padding: 1rem 0;
}

/** Changing items to show in columns for medium and small screens **/
@media all and (max-width: 800px) {
  .item-container {
    flex-direction: column;
  }
}

h2 {
  padding: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}